{% if include.side == "left" %}
    <section>
        {% assign posts_sorted = site.posts | sort: 'date' %}
        {% assign posts_sorted = posts_sorted | reverse %}
        {% include links.html title="Posts" links=posts_sorted %}
    </section>
    <section>
        {% include links.html title="Links" links=site.data.links %}
    </section>
    <section>
        {% include links.html title="Projects" links=site.data.projects %}
    </section>
{% endif %}
{% if include.side == "right" %}
    <section>
        {% include social.html socials=site.data.social %}
    </section>
    <section>
        {% include repos_list.html %}
    </section>
{% endif %}
