---
---

$background: black;
$foreground: white;
$gap:        3px;
$border:     1px;
$radius:     0;

@import "jekyll-theme-modernist";

body {
    background-color: $background;

    .wrapper {
        width: 75%;
        border: $border solid $foreground;
        border-radius: $radius;
    }

    header {
        background-color: $foreground;
        border-radius: $radius;
        color: $background;
        border-bottom: $border solid $background;
        h1 {
            color: $background;
        }
        p {
            color: $background;
        }
        ul {
            background-color: $background;
            color: $foreground;
        }
    }

    main {
        display: flex;
        flex-direction: row;

        &>.content {
            background-color: $foreground;
        }
        .sidebar {
            flex-basis: 20%;
            background-color: $background;
            color: $foreground;

            section {
                display: flex;
                flex-direction: row;
                text-align: left;
                margin: 0;
                padding: 0;
                h4 {
                    width: 30px;
                    height: 30px;
                    transform-origin: top left;
                    transform: rotate(-90deg);
                    color: $background;
                    span {
                        position: relative;
                        left: -30px;
                        float: right;
                        border: $border solid $foreground;
                        border-top: 0;
                        border-right: 0;
                        padding: 0px 15px 2px 5px;
                        color: $foreground;
                        border-bottom-left-radius: $radius;
                    }
                }

                ul {
                    padding: 10px 0 0;
                    list-style-type: none;
                    font-size: 10px;
                    color: $foreground;
                    li {
                        a {
                            color: $foreground;
                        }
                        p {
                            margin-bottom: $gap;
                        }
                    }
                }
            }
        }

        .content {
            width: 100%;
            border-left: $border solid $foreground;
            border-right: $border solid $foreground;
        }
    }
}

