<!doctype html>
<html lang="en-us">
<head>{% include _head.html %}</head>
<body>
    <div class="wrapper content">
        <header
            {% unless site.description or site.github.project_tagline %}
            class="without-description"
            {% endunless %}>
            {% include _header.html %}
        </header>
        <main>
            <div class="sidebar left">
                {% include sidebar.html side="left" %}
            </div>
            <div class="content">
                <section>
                    {{ content }}
                </section>
            </div>
            <div class="sidebar right">
                {% include sidebar.html side="right" %}
            </div>
        </main>
    </div>
<footer>
    {% include _footer.html %}
</footer>
{% include _scripts.html %}
</body>
</html>
